<div class="row" style="background-color: salmon;">
  <div class="tabbable">
    <ul class="nav nav-tabs">
      <li class="active"><a href="#tab11" data-toggle="tab">Profile</a></li>
      <li><a href="#tab12" data-toggle="tab">Celender</a></li>
      <li><a href="#tab12" data-toggle="tab">Holiday</a></li>
      <li><a href="#tab12" data-toggle="tab">Leaves</a></li>
    </ul>
    <div class="tab-content prof-colr">
      <div class="tab-pane active" id="tab11">
        <!-- profile contact -->
        <div class="container">
          <h1 class="page-header prof-mar">Edit Profile</h1>
          <div class="row">
            <!-- left column -->            
            <div class="col-md-4" style="float: left;">
              <div class="text-center">
              <%= form_for @user, url: user_path, html: { class: "form-horizontal form-wd"} do |f| %>
              <% if @user.profile_image.present? %>
                <%= image_tag(@user.profile_image.url, :size => "250x160",:class => "avatar img-circle img-thumbnail")  %>
              <%else%>
                <%= image_tag("default.png",:size => "250x160",:class => "avatar img-circle img-thumbnail" )%>
              <% end %>
                <!-- <img src="http://lorempixel.com/200/200/people/9/" class="avatar img-circle img-thumbnail" alt="avatar">  -->             
                <h6>Upload a different photo...</h6>                             
                  <%= f.file_field :profile_image  %>             
              </div>
            </div>
            <!-- edit form column -->
            <div class="col-md-8 pro_form">      
              <h3>Personal info</h3>
                           
                <div class="form-group">
                  <label class="col-lg-3">Emp Id: <%= @user.emp_id %></label>
                </div>
                <div class="form-group">
                  <label class="col-lg-3">First name:</label>
                  <div class="col-lg-8">                   
                    <%= f.text_field :first_name, placeholder: @user.first_name  %>
                  </div>
                </div>
                <div class="form-group">
                  <label class="col-lg-3">Last name:</label>
                  <div class="col-lg-8">
                    <%= f.text_field :last_name, placeholder: @user.last_name  %>
                  </div>
                </div>
                <div class="form-group">
                  <label class="col-lg-3">Address:</label>
                  <div class="col-lg-8">
                    <%= f.text_field :address, placeholder: @user.address  %>
                  </div>
                </div>
                <div class="form-group">
                  <label class="col-lg-3">DOB:</label>
                  <div class="col-lg-8">
                    <%= f.date_field :dob, placeholder: @user.dob, class: "wd"   %>
                  </div>
                </div>
                <div class="form-group">
                  <label class="col-lg-3">Qualification:</label>
                  <div class="col-lg-8">
                    <%= f.text_field :qualification, placeholder: @user.qualification  %>
                  </div>
                </div>
                <div class="form-group">
                  <label class="col-lg-3">Department:</label>
                  <div class="col-lg-8">
                    <%= f.text_field :department, placeholder: @user.department,:readonly => true  %>
                  </div>
                </div>
                <div class="form-group">
                  <label class="col-lg-3">Designation:</label>
                  <div class="col-lg-8">
                    <%= f.text_field :designation, placeholder: @user.designation,:readonly => true  %>
                  </div>
                </div>
                <div class="form-group">
                  <label class="col-lg-3">Contact:</label>
                  <div class="col-lg-8">
                    <%= f.text_field :contact, placeholder: @user.contact ,class: "wd" %>
                  </div>
                </div>                
                <div class="form-group">
                  <label class="col-lg-3">Gender:</label>
                  <div class="col-lg-8">
                    <div class="ui-select">
                     <!--  <select id="user_time_zone" class="select-wd">
                        <option value="male">Male</option>
                        <option value="female">Female</option>
                      </select> -->
                      <%= f.select :gender, User::GENDER.collect { |s, i| [s, i] }, {:prompt=>true}, class: 'select-wd',placeholder: @user.gender %>
                    </div>
                  </div>
                </div>
                <br>
                <div class="form-group">
                  <label class="col-lg-3">Username(Email):</label>
                  <div class="col-lg-8">
                    <%= f.text_field :email, placeholder: @user.email  %>
                  </div>
                </div>
                <div class="form-group">
                  <label class="col-lg-3">Password:</label>
                  <div class="col-lg-8">
                    <%= f.password_field :password, placeholder: @user.password  ,class: "wd" %>
                  </div>
                </div> 
                <br>              
                <div class="form-group">
                  <label class="col-lg-3">Confirm password:</label>
                  <div class="col-lg-8">
                    <%= f.password_field :password_confirmation, placeholder: @user.password_confirmation ,class: "wd" %>
                  </div>
                </div>
                <div class="form-group" style="margin-top: 10px;">
                  <div class="col-md-12">                    
                    <%= f.submit 'Save Changes' , class: "btn btn-primary" %>
                   <span></span>                    
                  </div>
                </div>                
              <!-- </form> --> 
              <% end %>
            </div>
          </div>
        </div>
        <!-- end profile -->
      </div>
      <div class="tab-pane" id="tab12">
        <p>Howdy, I'm in Section 2.Morbi vel nibh et arcu pretium adipiscing. Ut vestibulum est eget justo facilisis ullamcorper.  </p>
      </div>
    </div>
  </div>
</div>
