<!DOCTYPE html>
<html>
<head>
  <title>TOUT</title>
  <%= stylesheet_link_tag  'app_login', media: 'all', 'data-turbolinks-track' => true %> 
  <%= csrf_meta_tags %>
</head>
<body>
	<%= render 'layouts/header' %>
	<!-- <p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p> -->
	<%= yield %>
</body>
</html>
